<br><br><br>
<ul class="list-group">

<% @category.each do |category| %>
<li class="list-group-item"><%= category.category %></li>
<li class="list-group-item"><%= category.subcategory %></li>

<% end %>
<ul>